.annotationLayerContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 200px; /* Leave space for toolbar */
  height: 100%;
  pointer-events: auto;
  z-index: 10;
  touch-action: none;
}

.annotationCanvas {
  width: 100%;
  height: 100%;
  display: block;
}
