/* ProjectChatTab - Container for embedded chat functionality */

.projectChatContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: transparent;
}
